<p id="notice"><%= notice %></p>

<h1>Order History</h1>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Origin</th>
      <th>Destination</th>
      <th>Distance</th>
      <th>Price</th>
      <th>Payment Type</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.origin %></td>
        <td><%= order.destination %></td>
        <td><%= order.distance_in_km%></td>
        <td><%= order.idr_price %></td>
        <td><%= order.payment_type %></td>
        <td><%= order.status %></td>
        <td><%= link_to 'Show', order_path(order.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
