<p id="notice"><%= notice %></p>

<div class="panel panel-success">
  <div class="panel-heading">Order History</div>
  <div class="panel-body">
    <table class="table">
      <tr>
        <th>Order Date</th>
        <td><%= @order.order_date %></td>
        <th>Payment Type</th>
        <td><%= @order.payment_type %></td>
      </tr>
      <tr>
        <th>Origin</th>
        <td><%= @order.origin %></td>
        <th>Price</th>
        <td><%= @order.idr_price %></td>
      </tr>
      <tr>
        <th>Destination</th>
        <td><%= @order.destination %></td>
        <th>Status</th>
        <td><%= @order.status %></td>
      </tr>
      <tr>
        <th>Distance</th>
        <td><%= @order.distance_in_km %></td>
        <th>Driver</th>
        <td class="dropdown orders-menu">
          <%= @order.driver.try(:full_name) %>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Contact
          </a>
          <ul class="dropdown-menu">
            <li class="header">
              Driver Contact
            </li>
            <li>
              <ul class="menu">
                <li>
                <i class="ion ion-ios-people info">
                </i>Phone: <%= @order.driver.try(:phone) %>
                </li>
                <li>
                <i class="ion ion-ios-people info">
                </i>License: <%= @order.driver.try(:license_plate) %>
                </li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
    </table>
    <%= link_to 'Back', orders_path, class: "btn btn-success" %>
  </div>
</div>
